<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parellel = "tests" name="Suite">
  <test thread-count="5" parellel = "tests" name="Test1">
	  <parameter name = "Browser" value = "Chrome"></parameter>
	  <classes>
		  <class name = "BasicOfTestNG.ParametersAnnotation"></class> //packagename + classname
	  </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" parellel = "tests" name="Test">
	  <parameter name = "Browser" value = "Edge"></parameter> 
	  <classes>
		  <class name = "BasicOfTestNG.ParametersAnnotation"></class>
	  </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
